// variables
$base-lightbrown: #e0d1c5 !default;
$base-pink: #f4ecec !default;
$base-gray: #dfe0d7 !default;
$base-bluegray: #b4c9c9 !default;
$base-brown: #cfb998 !default;
$base-darkbrown: #7c6c4d !default;
$var-red: #92413b !default;
$var-indigo: #555f66 !default;
$var-yellow: #eee260 !default;
$point-black: #313033 !default;

// -------------------------------------

$button-background-color-green:#c4ddca;
$button-border-color-green: #b7ee60;
$button-background-color-gray: #d7e6e6;
$button-border-color-gray: #a8b6b6;
$button-background-color-red: #b99b9b;
$button-border-color-red: #ee6060;

$button-color: #363636 !default;
$button-disabled-background-color: white !default;
$button-disabled-border-color: #dbdbdb !default;