.has-background-base-gray {
  background-color: $base-gray;
}
.has-background-base-bluegray {
  background-color: $base-bluegray;
}
.has-background-base-pink {
  background-color: $base-pink;
}

a {
  color: $var-red;
  &:hover {
    color: $base-brown;
  }
}
summary {
  color: $var-red;
}

// navbar, sidemenu
.title,
.subtitle {
  color: $point-black;
}
.menu-list a {
  color: $point-black;
}
.navbar-burger {
  color: $var-indigo;
  &:hover {
    color: $base-brown;
    background-color: $var-indigo;
  }
}

// tabs
.tabs {
  & a {
    border-bottom-color: $var-indigo;
    color: $var-indigo;
    &:hover {
      border-bottom-color: $base-brown;
      color: $base-brown;
    }
  }
  & li.is-active a {
    border-bottom-color: $var-red;
    color: $var-red;
  }
  & ul {
    border-bottom-color: $var-indigo;
  }
}
#edit-button,
#return-button {
  &.is-editing {
    color: $base-gray;
    &:hover {
      color: $base-brown;
    }
  }
}
#edit-button {
  border: $var-indigo solid 1px;
}

// editing background
.details-child,
#edit-button {
  &.is-editing {
    background-color: $base-darkbrown;
  }
}

// card
.card {
  color: $var-indigo;
  box-shadow: 0 2px 3px $base-gray, 0 0 0 1px $base-gray;
}
.card-header {
  box-shadow: 0 1px 2px $base-gray;
}
.card-header-title {
  color: $point-black;
}

// label
.label {
  color: $var-indigo;
}

// buttons
.button {
  border-color: $base-brown;
  &:hover {
    border-color: $base-darkbrown;
  }
}

// messages
.message-body {
  color: $point-black;
}
.message.is-success {
  background-color: inherit;
  .message-body {
    border-color: $base-bluegray;
    color: inherit;
  }
}
.message.is-warning {
  .message-header {
    background-color: $var-yellow;
    color: $point-black;
  }
}
.message.is-danger {
  background-color: $base-pink;
  .message-body {
    border-color: $var-red;
    color: inherit;
  }
}

// pagination
.pagination-link,
.pagination-next,
.pagination-previous {
  border-color: $base-gray;
  &[disabled] {
    pointer-events: none;
  }
  &:hover {
    border-color: $base-brown;
  }
  &.is-current {
    background-color: $base-bluegray;
    border-color: $base-bluegray;
    color: #fff;
  }
}
